node_modules/
.next/
.env
.env.*
!.env.example
.wwebjs_auth/
*.json
!package.json
!package-lock.json
!tsconfig.json
!jsconfig.json
!schemes_real.json
!firebase.json
!database.rules.json
!firestore.rules
!storage.rules
*.sst
*.meta
out/
frontend/out/
